body
{
    background-image: url('photo.jpg');
    background-image: url('https://raw.githubusercontent.com/Neem2k18/neem2k18.github.io/master/img/photo.jpg');
    background-image: url('/home/harshit/Documents/website/Neem/img/photo.jpg'); 
}

/*@media body()
{


}*/


@media only (min-width: 769px) {
  #cubes
  {
    margin-left: 20%;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 50%;
}
}

@media screen and (max-width: 1020px){
  #cubes
  {
    margin-left: 20%;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 50%;
}

}
@media screen and (max-width: 720px){
  #cubes
  {
    margin-left: 20%;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 50%;
}
}
@media screen and (min-width: 480px){
  #cubes
  {
    margin-left: 20%;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 50%;
}
}

