img {
    border-radius: 50%;
}
 #back {

     height: 100%;
     width: 100%;
     background: rgba(0, 0, 0, 1);
     position: fixed;
     left: 0;
     top: 0;
     z-index: 998;
 }

 .hell {
     display: none;
 }

 svg {
     display: block;
     width: 258px;
     height: 258px;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
 }

 .tree {
     fill: #E73E0D;
 }

 .circle-mask {
     transform-origin: 50% 90%;
     animation: scale 5s infinite ease-out;
 }

 @keyframes scale {
     0%,
     100% {
         transform: scale(0.0);
     }
     7%,
     90% {
         transform: scale(0.4);
     }
     50% {
         transform: scale(1);
     }
 }

body {
  font-family: 'Ubuntu';
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.3em;
  line-height: 2;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-align: center;
  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
        
}

.parent2 {
  top:15px;
  left:15px;
  position:fixed;
 display:block;
  width:100px;
  height:100px;
  background-color:transparent;
  border-radius:50%;
  z-index:20;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.test1 {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    position:absolute;
}
.test2 {
  width:60%;
  height:60%;
  background-color:rgba(79,239,95,1);
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}
.test3 {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  transition: all 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;  
}
  .test4 {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
  top:25%;
  left:25%;
  transition: all 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
}


.mask2 {
  top:35px;
  left:30px;
  width:75px;
  height:75px;
  background: cyan;
  border-radius:50%;
  position:absolute;
  z-index:21;
  color:white;
  text-align:center;
  line-height:120px;
  cursor:pointer;
  position:fixed;
}


 #particles-js {
     background: rgba(0,0,0,0);
     
    /*background: url("/home/harshit/Documents/Neem/css/Spider-Man.Homecoming.2017.1080p.WEB-DL.DD5.1.H264-FGT.mkv.MP4");*/
   
    
     /*background: url("http://www.vlime.co.nz/images/buttons/backgroundimage.jpg");*/
    /* background: url("https://www.youtube.com/watch?v=W-TE_Ys4iwM");*/
    /*background-attachment: fixed;
    background-size: cover;
    */ 

     z-index: -100;
     position: fixed;
     height: 100%;
     width: 100%;
 }

 #body {
     transition: 0.5s;
 }

 #col {
     z-index: -10;
     width: 50%;
     opacity: 0.6;
 }

 .sidenav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 300;
     top: 0;
     left: 0;
     background-color: black;
     overflow-x: hidden;
     transition: 0.5s;
 }


 .container {
     display: inline-block;
     cursor: pointer;
     padding-top: 10px;
     padding-left: 0;
     z-index: 2;
 }

 .bar1,
 .bar2,
 .bar3 {
     width: 35px;
     height: 5px;
     background-color: darkgoldenrod;
     margin: 6px 0;
     transition: 0.4s;
 }

 .change .bar1 {
     -webkit-transform: rotate(-45deg) translate(-9px, 6px);
     transform: rotate(-45deg) translate(-9px, 6px);
 }

 .change .bar2 {
     opacity: 0;
 }

 .change .bar3 {
     -webkit-transform: rotate(45deg) translate(-8px, -8px);
     transform: rotate(45deg) translate(-8px, -8px);
 }

 #ul {
     font-size: 20px;
     color: orchid;
     position: static;
 }


 .typewriter {
     overflow: hidden;
     border-right: .15em;
     white-space: nowrap;
     margin: 0 auto;
     letter-spacing: .0em;

     animation: typing 5s steps(300, end),
     blink-caret 0s step-end infinite;
 }

 @keyframes typing {
     from {
         width: 0
     }
     to {
         width: 100%
     }
 }

 .carousel-item {
     padding: 5%;
 }

 .input-field input[type=text]:focus+label {
     color: red;
 }










 .wave {
     opacity: .4;
     position: absolute;
     top: 3%;
     left: 50%;
     background: #0af;
     min-width: 500px;
     min-height: 500px;
     margin-left: -250px;
     margin-top: -250px;
     transform-origin: 50% 48%;
     border-radius: 43%;
     animation: drift 3000ms infinite linear;
 }

 .wave.-three {
     animation: drift 5000ms infinite linear;
 }

 .wave.-two {
     animation: drift 7000ms infinite linear;
     opacity: .1;
     background: yellow;
 }




 @keyframes drift {
     from {
         transform: rotate(0deg);
     }
     from {
         transform: rotate(360deg);
     }
 }









 .sidenav1 {
     height: 100%;
     /* 100% Full-height */
     width: 50%;
     /* 0 width - change this with JavaScript */
     position: fixed;
     /* Stay in place */
     z-index: 300;
     /* Stay on top */
     top: 0;
     left: 0;
     background-color: black;
     /* Black*/
     transition: 0.5s;
     /* 0.5 second transition effect to slide in the sidenav */
 }

 .sidenav2 {
     height: 100%;
     /* 100% Full-height */
     width: 50%;
     /* 0 width - change this with JavaScript */
     position: fixed;
     /* Stay in place */
     z-index: 300;
     /* Stay on top */
     top: 0;
     right: 0;
     background-color: blue;
     /* Black*/
     transition: 0.5s;
     /* 0.5 second transition effect to slide in the sidenav */
 }


 .curtain1 {
     height: 50%;
     /* 100% Full-height */
     width: 100%;
     /* 0 width - change this with JavaScript */
     position: fixed;
     /* Stay in place */
     z-index: 100;
     /* Stay on top */
     top: 0;
     left: 0;
     cursor: pointer;
     background-color: aqua;
     /* Black*/
     cursor: pointer;
     transition: 0.5s;
     /* 0.5 second transition effect to slide in the sidenav */
 }

 .curtain2 {
     height: 50%;
     /* 100% Full-height */
     width: 100%;
     /* 0 width - change this with JavaScript */
     position: fixed;
     /* Stay in place */
     z-index: 100;
     /* Stay on top */
     bottom: 0;
     cursor: pointer;
     left: 0;
     background-color: red;
     /* Black*/
     transition: 0.5s;
     /* 0.5 second transition effect to slide in the sidenav */
 }





  .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}
@media (max-width: 1024px) {
  .fullscreen-bg {
    background: url('/home/harshit/Documents/website/Neem/img/hdbkg.png');/* center center / cover no-repeat;*/
    background: url('https://raw.githubusercontent.com/Neem2k18/neem2k18.github.io/master/img/hdbkg.png');
    background-attachment: fixed;
    background-size:100%;
     height: 100vh;
     width: 100vh;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
