.uiop
{
position: absolute;
margin-left: 15%; 
top: 20px;
/*margin-left:auto;
margin-bottom:auto;
margin-right:auto;*/
}

/*@media .uiop(min-width: 768px)
{
position: absolute;
margin-left: 35%; 
top: 30px;
/*margin-left:auto;
margin-bottom:auto;
margin-right:auto;*/
}

/*height width */

/*
@media only (min-width: 769px) {
  .uiop
{
position: absolute;
margin-left: 20px; 
top: 150px;
/*margin-left:auto;
margin-bottom:auto;
margin-right:auto;
}

}

@media screen and (max-width: 1020px){
  .uiop
{
position: absolute;
margin-left: 20px; 
top: 150px;
/*margin-left:auto;
margin-bottom:auto;
margin-right:auto;*/
}
*/

}
@media screen only (max-width: 720px){
  .uiop
{
position: absolute;
margin-left: 30px; 
top: 50px;
/*margin-left:auto;
margin-bottom:auto;
margin-right:auto;*/
}

}
@media screen only (min-width: 100px){
  .uiop
{
position: absolute;
margin-left: 30px; 
top: 50px;
/*margin-left:auto;
margin-bottom:auto;
margin-right:auto;*/
}

}

